.topo {
    margin-top: 20px;
}

.text-decorator-none {
    text-decoration: none;
}

.btn-finalizar {
    margin-right: 12px;
}

.btn-finalizar-cor {
    background-color: #88c636 !important;
    color: white !important;
}

.btn-cancelar-cor {
    background-color: #263165 !important;
    color: white !important;
}

.text-cadastro-post {
    color: #263165;
}