@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap%27%22%22");

.fontes {
    font-size: 80px !important;
    color: rgb(18, 2, 54) !important;
    width: 2250px;
    height: 400px;
    border: 0px;
    margin-right: 50px;
    font-family: Signika; 

} 

.fontes.a{
    color: #010c3b;
    font-family: 'Signika';
}

.textos {
    color: #263165;
}

.parceirosepatrocinadores {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.imglogo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.imglogo3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.parceirogen {
    background-size: 50%;
}

.grid1{
    viewport-fit: "100vh";
}

.grid2{
    viewport-fit: "100vh";
}

.box-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sus-redes{
    font-size: 50px !important;
    color: #263165;
}

.carousel{
    margin-right: 2px;
    align-items: center;
    justify-content: center;
}

.page{
    background: linear-gradient(45deg,#88c636 , #263165 );
}


.page4{
    background-color:#88c636;
}

#sus-titulo{
    font-size: 85px !important;
    color: #263165;
    font-family: 'Signika';
}

.card{
    width: 350px;
    height: 400px;
    border: 0px;
    margin-right: 50px;
}


.card2{
    width: 2250px;
    height: 400px;
    border: 0px;
    margin-right: 50px;
}

.card3{
    width: 2250px;
    height: 400px;
    border: 0px;
    margin-right: 50px;
}

.card4{
    width: 2250px;
    height: 400px;
    border: 0px;
    margin-right: 50px;
}

.holder {
    background: linear-gradient(45deg,#88c636 , #263165 );
    display: flex;
    justify-content: center;

}

.holder img, .holder Typography {
    position: absolute;
    font-size: 32px;
    font-family: Signika;
    text-align: center;
}